<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FilRougeMCMPWinforms.Properties.Settings.mcmpConnectionString"
            connectionString="server=localhost;user id=root;persistsecurityinfo=True;port=3316;database=mcmp"
            providerName="MySql.Data.MySqlClient" />
        <add name="FilRougeMCMPWinforms.Properties.Settings.mcmponlineConnectionString"
            connectionString="server=cda60.2isa.org;user id=cda60;password=1205cda60;persistsecurityinfo=True;database=cda60_bd1"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>